form(
  action="/users/messages",
  method="post",
  onSubmit="event.preventDefault();partial.form(this, [['ul.messages', 'appendChild'], ['form', 'replace']]);"
)
  - if(err) 
    ul.errors 
      each error in err.errors
        li=error.message

  input(name="message", value=message) 
  input(type="submit")
